@model Abis.Mbs.MvcWebUI.Areas.Admin.Models.JobFormAddViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h1>FormUpdate</h1>



<form asp-area="User" asp-controller="JobForm" asp-action="AddJobForm" method="post">
    <div class="form-group">
        <label asp-for="JobForm.Name"></label>
        <input asp-for="JobForm.Name" class="form-control" placeholder="Name " />
        <span asp-validation-for="JobForm.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="JobForm.PhoneNumber"></label>
        <input asp-for="JobForm.PhoneNumber" class="form-control" placeholder="Phone Number " />
        <span asp-validation-for="JobForm.PhoneNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="JobForm.Position"></label>
        <input asp-for="JobForm.Position" class="form-control" placeholder="Position" />
        <span asp-validation-for="JobForm.Position"></span>
    </div>
    <div class="form-group">
        <label asp-for="JobForm.Resume"></label>
        <input type="file" asp-for="JobForm.Resume" class="form-control" placeholder="Resume" />
        <span asp-validation-for="JobForm.Resume"></span>
    </div>
    <div class="form-group">
        <label asp-for="JobForm.Letter"></label>
        <input asp-for="JobForm.Letter" class="form-control" placeholder="Letter" />
        <span asp-validation-for="JobForm.Letter"></span>
    </div>

    <div class="form-group">
        <label asp-for="JobForm.StartingDate"></label>
        <input asp-for="JobForm.StartingDate" class="form-control" placeholder="Date" />
        <span asp-validation-for="JobForm.StartingDate"></span>
    </div>

    @if (TempData["applicationMessage"] != null)
    {
    <div class="alert alert-success">@TempData["success"];</div>
    }
    <input type="hidden" asp-for="JobForm.ApplicationID" />
    <input type="submit" value="Apply" class="btn btn-xs btn-success" />

</form>