@model Abis.Mbs.MvcWebUI.Areas.Admin.Models.JobFormAddViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/User/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="">Start your application</h2>


<div class="bg-img">
    <form asp-area="User" asp-controller="JobForm" asp-action="AddJobForm" method="post">

        <!-- Grid row -->
        <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
                <!-- Material input -->
                @*<div class="md-form form-group">
                    <label asp-for="JobForm.Name">Ad Soyad</label>
                    <input type="text" asp-for="JobForm.Name" class="form-control" placeholder="Name " />
                    <span asp-validation-for="JobForm.Name"></span>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                    <label asp-for="JobForm.PhoneNumber">Telefon</label>
                    <input type="text" asp-for="JobForm.PhoneNumber" class="form-control" placeholder="Phone Number " />
                    <span asp-validation-for="JobForm.PhoneNumber"></span>
                </div>
            </div>*@
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                    <label asp-for="JobForm.Position">Pozisyon</label>
                    <input type="text" asp-for="JobForm.Position" class="form-control" placeholder="Position" />
                    <span asp-validation-for="JobForm.Position"></span>
                </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-12">
                <!-- Material input -->
                <div class="md-form form-group">
                    <label asp-for="JobForm.Letter"></label>
                    <i class="fas fa-pencil-alt prefix"></i>
                    <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
                </div>

            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
                <!-- Material input -->

                <div class="md-form form-group">
                    <label asp-for="JobForm.Resume">Özgeçmiş (CV) </label>
                    <input type="file" asp-for="JobForm.Resume" class="form-control" placeholder="Resume" />
                    <span asp-validation-for="JobForm.Resume"></span>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                    <label asp-for="JobForm.StartingDate"></label>
                    <input type="date" asp-for="JobForm.StartingDate" class="form-control" placeholder="Date" />
                    <span asp-validation-for="JobForm.StartingDate"></span>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        

        @if (TempData["applicationMessage"] != null)
        {
            <div class="alert alert-success">@TempData["success"];</div>
        }
        <input type="hidden" asp-for="JobForm.ApplicationID" />
        <input type="submit" value="Apply" class="btn btn-xs btn-success" />

    </form>
</div>


