@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobFormListViewModel

@{
    ViewBag.Title = "FormIndex";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>FormIndex</h2>


    <div>

    </div>
    <div>
        <table class="table table-responsive">
            <tr>
                <td>Department</td>
                <td>Company Name</td>
                <td>Position</td>
                

                <td></td>
                <td></td>
            </tr>
            @foreach (var jobform in Model.JobForms)
            {
                <tr>
                    <td>@jobform.Job.Department</td>
                    @*<td>@jobform.Company.CompanyName</td>*@
                    <td>@jobform.Job.Position</td>
                    
                  


                </tr>

            }
        </table>
    </div>
