@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobFormListViewModel

@{
    ViewBag.Title = "FormIndex";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h2>FormIndex</h2>


    <div>

    </div>
    <div>
        <table class="table table-responsive">
            <tr>
                <td>Username</td>
                <td>Job</td>
                @*<td>Position</td>*@
                

                <td></td>
                <td></td>
            </tr>
            @foreach (var jobform in Model.JobForms)
            {
            <tr>
       
                <td>@Html.DisplayFor(model => jobform.UserId)</td>
                <td>@Html.DisplayFor(model => jobform.JobID)</td>
                <td>@Html.ActionLink("Add", "Application", new { id = jobform.ID })</td>




            </tr>

            }
        </table>
    </div>
