@*@model Abis.Mbs.MvcWebUI.Areas.User.Models.JobListViewModel
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";

    }

    <h1>Index</h1>

    <form asp-area="User" asp-controller="User" asp-action="JobIndex" method="get">
        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>

    <div>

        <table class="table table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <td scope="col">Post</td>
                    <td scope="col">Area</td>
                    <td scope="col"></td>
                </tr>
            </thead>

            @foreach (var job in Model.Jobs)
            {
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => job.PostTitle)</td>
                        <td><a asp-action="Details" asp-route-id="@job.JobID">@job.Area</a> </td>
                        <td><a class="btn btn-xs btn-success" asp-area="User" asp-controller="JobForm" asp-action="AddJobForm">Apply</a></td>


                    </tr>
                </tbody>

            }
        </table>

    </div>*@



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mezun Bilgi Sistemi</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="~/css/carousel.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:white">
            <a class="navbar-brand" asp-controller="HomePage" asp-action="Index"><img src="~/İmg/999999.jpg" style="height:80px; margin:5px 5px 5px 0;" />Mezun Bilgi Sistemi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="HomePage" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Admin<span class="sr-only">(current)</span></a>
                    </li>

                    @* Job Announcement button *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("User"))
                        {

                            <li class="nav-item active">
                                <a class="nav-link" asp-area="User" asp-controller="Job" asp-action="Index">Find job<span class="sr-only">(current)</span></a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            @* Job Announcement button *@
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="JobIndex">Update/Delete Jobs<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="JobFormIndex">Job Form Application<span class="sr-only">(current)</span></a>
                            </li>
                        }
                    }





                    @*<li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>*@
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>              
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="~/img/job-3.jpg" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption text-right">
                            <h3>Find your dream job</h3>
                            <p><a class="btn btn-lg btn-primary" asp-area="User" asp-controller="JobForm" asp-action="AddJobForm">Apply Now</a></p>
                        </div>
                    </div>
                </div>                
            </div>
            
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        

               


        
        <!-- FOOTER -->
        <footer class="container">
            <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>



</body>
</html>




