@model Abis.Mbs.MvcWebUI.Models.UserDetailsViewModel


    @if (!String.IsNullOrEmpty(Model.UserName))
    {
       
            <a>Hoşgeldin @Model.UserName</a>
      
        @*<li>
            <a asp-controller="Account" asp-action="LogOff">Log Off</a>
        </li>*@
    }
