@model Abis.Mbs.MvcWebUI.Models.LoginViewModel
@using System.Threading.Tasks

@inject SignInManager<Abis.Mbs.MvcWebUI.Entities.CustomIdentityUser> SignInManager

@{
    ViewBag.Title = "title";
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/css/asd.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html>
<head>
    <title>Giriş Sayfası</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Giriş</h3>
                    <div class="d-flex justify-content-end social_icon">
                        
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>There are no external logins</p>
                        </div>
                    }
                    else
                    {

                        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = @ViewData["ReturnUrl"] }))
                        {
                            <div>
                                <p style="padding-top:21px;">
                                    @foreach (var provider in loginProviders)
                                    {
                                            <input type="submit" class="fab fa-facebook-square" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></input>
                                        
                                        
                                    }

                                </p>
                            </div>
                        }
                    }
                }

                        
                        


                    </div>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Login" method="post" role="form">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı">
                            <span asp-validation-for="UserName"></span>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Password" class="form-control" placeholder="Şifre">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="row align-items-center remember">
                            <input asp-for="RememberMe"> Beni hatırla
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Giriş Yap" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Bir Hesabın Yok Mu?<a asp-controller="Account" asp-action="Register">
                            Kaydol
                        </a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>